body {
	background-color: #000;
}

#jumbo1 {
	background-image: url("../images/the_Beatles_wallpaper.jpg");
    max-height: 50%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 500px;
    width: 100%;
}

#triviaTitle {
	margin-left: auto;
    margin-right: auto;
    color:#faf7ed;
    letter-spacing: 8px;
    font-family: 'Times New Roman', Times, serif;
}

#startGame {
	background-color: rgba(0, 0, 0, 0.01);
}

	#startBtn {
		padding:12px 40px 12px 40px;
		font-size: 25px;
		background-color: rosybrown;
		border-color:black;
		color:black ;
		font-family: 'Times New Roman', Times, serif;
		letter-spacing: 4px;
	}
		#startBtn:hover {
			background-color: #8f3625;
			color: #def;
		}

#gameArea {
	/*margin-right: 10%;
    margin-left: 10%;*/
    background-color: #000;
}

img.gifImg {
	width:75%;
	height:auto;
}

#Qs {
	font-family: 'Times New Roman', Times, serif
}
	#time {
		font-size: 25px;
		color: #def;
	}
	.question {
		
		color: rosybrown;
		font-size: 18px;
	}

	.thisChoice {
		
		font-size: 16px;
		color: #def;
		line-height: 50px;
	}
		.thisChoice:hover {
			color:red;
		}
#Ans {
	font-family: 'Times New Roman', Times, serif;
}
	#text, #correctAnswer {
		color: rosybrown;
		font-size: 24px;
	}
	div#text {
		/*font-family: 'Ubuntu Mono', monospace;*/
		color: #b7ecf5;
	}
	div.gifCap {
		color:#faf7ed;
		font-size: 24px;
	}

div.container#Res {
	color: lightblue;
	font-size: 20px;
	font-family: 'Source Code Pro', monospace;
}
	div#resultText {
		color: rosybrown;
	}
	button#startOverBtn {
		padding:12px 40px 12px 40px;
		font-size: 18px;
		background-color: rosybrown;
		border-color: #000;
		color: black;
		font-family: 'Times New Roman', Times, serif;
		letter-spacing: 4px;
	}
		button#startOverBtn:hover {
			background-color:rosybrown;
			color: #111;
			cursor: pointer;
		}

/*
font-family: 'Nanum Gothic Coding', monospace;
font-family: 'Source Code Pro', monospace;
font-family: 'Rajdhani', sans-serif;
font-family: 'Rock Salt', cursive;
font-family: 'Ubuntu Mono', monospace;
*/
